body{
    margin: 0;
}
.navBar{
    
    height: 68px;
    object-fit: contain;
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  color: #424242;
    
    
        &__navLogo{
            text-align: center;
        }
    
        &__navLink{
            display: flex;
            flex-direction: row;
             
    
            &--nav{            
                list-style:none;
                margin:0;
                padding:0;
                width: 100%;
                display: flex;
                text-align:center;            
            }        
            &--nav-link{
                color: #424242;                        
                width: 50%; 
                text-decoration: none;           
            }
    
            &--active{
                color: #424242;
                padding-bottom: 0.1rem;    
                width: 50%;            
                border-bottom: 4px solid #424242;
            }
        }
    
        @media (min-width: 320px){
           &__navLogo{
               margin-top: 1rem;
               margin-bottom: 0.3rem;
           }        
        }
    
        @media (min-width: 720px){
            
            flex-direction: row;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
    
            &__navLogo{
                margin-right: 2rem;
            }
    
            &__navLink{
                padding-top: 1rem;
                width: 30%;                    
            }
        }
    
        @media (min-width: 1080px){  
                
            padding-left: 11.25rem;
            padding-right: 11.25rem;
            padding-top: 1rem;
    
            &__navLogo{
                margin-right: 3.5rem;
            }
    
            &__navLink{
                padding-top: 1rem;
                width: 25%;
                
                &--nav-link{
                    margin-right: 3.5rem
                }
            }
        }
    
    
    
    }