.navBar{
    position: fixed;
    top: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    
    
        &__navLogo{
            text-align: center;
        }
    
        &__navLink{
            display: flex;
            flex-direction: row;
             
    
            &--nav{            
                list-style:none;
                margin:0;
                padding:0;
                width: 100%;
                display: flex;
                text-align:center;            
            }        
            &--nav-link{
                color: #000000;                        
                width: 50%; 
                text-decoration: none;           
            }
    
            &--active{
                color: #ffffff;
                padding-bottom: 0.5rem;    
                width: 50%;            
                border-bottom: 4px solid #000000;
            }
        }
    
        @media (min-width: 320px){
           &__navLogo{
               margin-top: 1rem;
               margin-bottom: 0.3rem;
           }        
        }
    
        @media (min-width: 720px){
            
            flex-direction: row;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
    
            &__navLogo{
                margin-right: 2rem;
            }
    
            &__navLink{
                padding-top: 1rem;
                width: 30%;                    
            }
        }
    
        @media (min-width: 1080px){  
                
            padding-left: 11.25rem;
            padding-right: 11.25rem;
            padding-top: 1rem;
    
            &__navLogo{
                margin-right: 3.5rem;
            }
    
            &__navLink{
                padding-top: 1rem;
                width: 25%;
                
                &--nav-link{
                    margin-right: 3.5rem
                }
            }
        }
    
    
    
    }